<div class="flex flex-col w-full h-full gap-8">
  <div class="flex flex-row justify-between">
    <span
      class="tracking-wider font-yeseva text-lg lg-m:text-2xl lg:text-4xl font-medium"
      >Goals</span
    >
    <span
      class="cursor-pointer text-xs lg-m:text-base h-5 w-10 lg-m:h-10 lg-m:w-16 flex bg-white hover:bg-gray-200 dark:bg-gray-950 dark:hover:bg-gray-800 justify-center items-center rounded-full border border-black dark:border-white"
      >MYR</span
    >
  </div>
  <div class="flex flex-row w-full justify-between items-center">
    <div
      class="flex flex-row items-center gap-2 w-2/3 px-2 py-3 rounded-md border border-gray-200 text-gray-600 dark:text-gray-200"
    >
      <fa-icon [icon]="getIcon('faCircleExclamation')"></fa-icon>
      <span class="text-sm"
        >Set achievable goals and track your progress over time. This feature
        helps you stay organized and motivated on your journey toward
        success!</span
      >
    </div>
    <button
      class="text-xs lg-m:text-sm md:text-base rounded-3xl bg-indigo-500 text-white px-4 py-2 transition duration-500 ease-in-out hover:bg-indigo-700"
      (click)="addGoal()"
    >
      Add New Goals <fa-icon [icon]="getIcon('faPlus')"></fa-icon>
    </button>
  </div>
  <div class="grid grid-cols-2 gap-2">
    <div
      class="col-span-1 flex flex-col w-full border border-gray-200 dark:border-slate-700 rounded-md p-4 gap-2 bg-white dark:bg-slate-900"
    >
      <span class="text-center text-sm md:text-xs lg:text-sm font-semibold"
        >Goal Completion Status</span
      >
      <div class="flex flex-row w-full justify-evenly items-center">
        <div class="flex flex-col items-center">
          <span class="text-xs"> Incomplete </span>
          <span class="text-2xl font-semibold"> 5 </span>
        </div>
        <div class="h-52">
          <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
          >
          </canvas>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-xs"> Complete </span>
          <span class="text-2xl font-semibold"> 3 </span>
        </div>
      </div>
      <!-- <div class="grid grid-cols-2">
      <div class="col-span-1 h-64">
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
        >
        </canvas>
      </div>
    </div> -->
    </div>
    <div
      class="col-span-1 flex flex-col w-full border border-gray-200 dark:border-slate-700 rounded-md p-4 gap-2 bg-white dark:bg-slate-900"
    >
      <span class="text-center text-sm md:text-xs lg:text-sm font-semibold"
        >Total All Goals</span
      >
      <div class="flex flex-row h-full w-full items-center justify-evenly">
        <app-donut [percentage]="86.73" color="text-violet-400"></app-donut>
        <div class="flex flex-col gap-2">
          <div class="flex flex-col items-start">
            <span class="text-xs"> Current Value</span>
            <span class="text-2xl font-semibold">
              {{ 17347.34 | number : "1.2-2" }}
            </span>
          </div>
          <div class="flex flex-col items-start">
            <span class="text-xs"> Target Value</span>
            <span class="text-2xl font-semibold">
              {{ 20000 | number : "1.2-2" }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="text-sm lg-m:text-base font-semibold text-left mt-4"
    >Accounts Goals</span
  >
  <div class="grid grid-cols-2 gap-2">
    <ng-container *ngFor="let item of accgoals">
      <div
        class="col-span-1 flex flex-col w-full border border-gray-200 dark:border-slate-700 rounded-md p-4 gap-2 bg-white dark:bg-slate-900"
      >
        <div class="flex flex-row justify-between">
          <span
            class="text-center text-sm md:text-xs lg:text-sm font-semibold"
            >{{ item.goalname }}</span
          >
          <!-- <span class="px-6 text-white bg-indigo-500 rounded-3xl"><fa-icon [icon]="getIcon('faChevronRight')"></fa-icon></span> -->
          <button
            class="text-xs lg-m:text-sm md:text-base rounded-3xl bg-indigo-500 text-white px-4 py-2 transition duration-500 ease-in-out hover:bg-indigo-700"
            (click)="goToGoal(item.id)"
          >
            <fa-icon [icon]="getIcon('faChevronRight')"></fa-icon>
          </button>
        </div>
        <div class="flex flex-row h-full w-full items-center justify-evenly">
          <app-donut
            [percentage]="
              getPercentage(item.account.currentbalance, item.targetamount)
            "
            color="text-violet-400"
          ></app-donut>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col items-start">
              <span class="text-xs"> Current Value</span>
              <span class="text-2xl font-semibold">
                {{ item.account.currentbalance | number : "1.2-2" }}
              </span>
            </div>
            <div class="flex flex-col items-start">
              <span class="text-xs"> Target Value</span>
              <span class="text-2xl font-semibold">
                {{ item.targetamount | number : "1.2-2" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <span class="text-sm lg-m:text-base font-semibold text-left mt-4"
    >Other Goals</span
  >
  <div class="grid grid-cols-2 gap-2">
    <ng-container *ngFor="let item of othergoals">
      <div
        class="col-span-1 flex flex-col w-full border border-gray-200 dark:border-slate-700 rounded-md p-4 gap-2 bg-white dark:bg-slate-900"
      >
        <div class="flex flex-row justify-between">
          <app-tag [tag]="item.tag"></app-tag>
          <!-- <span class="px-6 text-white bg-indigo-500 rounded-3xl"><fa-icon [icon]="getIcon('faChevronRight')"></fa-icon></span> -->
          <button
            class="text-xs lg-m:text-sm md:text-base rounded-3xl bg-indigo-500 text-white px-4 py-2 transition duration-500 ease-in-out hover:bg-indigo-700"
            (click)="goToGoal(item.id)"
          >
            <fa-icon [icon]="getIcon('faChevronRight')"></fa-icon>
          </button>
        </div>
        <div class="flex flex-row h-full w-full items-center justify-evenly">
          <app-donut
            [percentage]="getPercentage(item.currentamount, item.targetamount)"
            color="text-violet-400"
          ></app-donut>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col items-start">
              <span class="text-xs"> Current Value</span>
              <span class="text-2xl font-semibold">
                {{ item.currentamount | number : "1.2-2" }}
              </span>
            </div>
            <div class="flex flex-col items-start">
              <span class="text-xs"> Target Value</span>
              <span class="text-2xl font-semibold">
                {{ item.targetamount | number : "1.2-2" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <span class="text-sm lg-m:text-base font-semibold text-left mt-4"
    >Completed Goals</span
  >
</div>
