<div
  class="bg-gradient-to-r from-indigo-500 to-pink-300 w-full h-screen overflow-hidden"
>
  <div class="flex flex-col px-4 md:px-12 py-6 h-full">
    <div class="h-12 w-12 absolute">
      <img src="../../assets/image/sakumate-logo-white.png" alt="" />
    </div>
    <div class="flex w-full h-full items-center justify-center">
      <form
        [formGroup]="signUpForm"
        class="flex flex-col h-auto w-full md:w-2/3 lg:w-1/2 justify-evenly items-center bg-white px-4 md:px-10 py-12 rounded-2xl gap-8 outline outline-1 drop-shadow-lg"
      >
        <span
          class="text-start w-full text-xs underline text-indigo-500 hover:text-indigo-700 cursor-pointer"
          (click)="login('/login')"
          ><fa-icon class="p-1" [icon]="faArrowLeft"></fa-icon>Login page</span
        >
        <div class="flex flex-col">
          <div class="flex flex-row justify-center">
            <img
              src="../../assets/image/sakumate-logo.png"
              alt=""
              class="h-16 w-16"
            />
          </div>
          <span class="text-center tracking-widest text-3xl text-indigo-500"
            >SakuMate</span
          >
        </div>
        <div class="flex flex-col gap-2 w-full">
          <span class="text-sm">Email</span>
          <input
            type="email"
            formControlName="email"
            placeholder="Enter your email"
            class="outline-none border-b-2 border-slate-300 focus:border-slate-500"
          />
          <div
            *ngIf="isSignUpFormInvalid('email')"
            class="text-red-600 text-sm"
          >
            <small *ngIf="signUpForm.get('email')?.errors?.required"
              >Email is required</small
            >
            <small *ngIf="signUpForm.get('email')?.errors?.email"
              >Please enter a valid email address</small
            >
          </div>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <span class="text-sm">Password</span>
          <input
            type="password"
            formControlName="password"
            placeholder="Enter your password"
            class="outline-none border-b-2 border-slate-300 focus:border-slate-500"
          />
          <div
            *ngIf="isSignUpFormInvalid('password')"
            class="text-red-600 text-sm"
          >
            <small *ngIf="signUpForm.get('password')?.errors?.required"
              >Password is required</small
            >
            <small *ngIf="signUpForm.get('password')?.errors?.minlength"
              >Password must be at least 6 characters long</small
            >
          </div>
        </div>
        <div class="flex justify-center">
          <button
          class="rounded-3xl text-white px-4 py-2 transition duration-500 ease-in-out"
          (click)="onSubmit()"
          [ngClass]="
            signUpForm.valid
              ? 'bg-indigo-500 hover:bg-indigo-700'
              : 'bg-gray-700'
          "
          [disabled]="!signUpForm.valid"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
