<div
  class="bg-gradient-to-r from-indigo-500 to-pink-300 w-full h-screen overflow-hidden"
>
  <div class="flex flex-col px-4 md:px-12 py-6 h-full">
    <div class="h-12 w-12 absolute">
      <img src="../../assets/image/sakumate-logo-white.png" alt="" />
    </div>
    <div class="flex w-full h-full items-center justify-center">
      <form
        [formGroup]="resetPasswordForm"
        class="flex flex-col h-auto w-full md:w-2/3 lg:w-1/2 justify-evenly items-center bg-white px-4 md:px-10 py-12 rounded-2xl gap-8 outline outline-1 drop-shadow-lg"
      >
        <div class="flex flex-col w-full">
          <div class="flex flex-row justify-center">
            <img
              src="../../assets/image/sakumate-logo.png"
              alt=""
              class="h-16 w-16"
            />
          </div>
          <span class="text-center tracking-widest text-3xl text-indigo-500"
            >SakuMate</span
          >
        </div>
        <div class="flex flex-col gap-2 w-full">
          <span class="text-sm">New Password</span>
          <input
            type="password"
            formControlName="newPassword"
            placeholder="Enter your new password"
            class="outline-none border-b-2 border-slate-300 focus:border-slate-500"
          />
        </div>
        <div class="flex flex-col gap-2 w-full">
          <span class="text-sm">Confirm Password</span>
          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm your password"
            class="outline-none border-b-2 border-slate-300 focus:border-slate-500"
          />
        </div>
        <div class="flex justify-center">
          <button
            class="rounded-3xl bg-indigo-500 text-white px-7 py-2 transition duration-500 ease-in-out hover:bg-indigo-700"
            (click)="resetPassword()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
