<div class="flex flex-col w-full h-full gap-8">
  <div class="flex flex-row justify-between">
    <div class="flex flex-row items-center gap-2">
      <span
        class="tracking-wider font-yeseva text-lg lg-m:text-2xl lg:text-4xl font-medium"
        >Budget</span
      >
      <!-- <div class="relative group inline-block cursor-default">
        <fa-icon
          class="text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-gray-400"
          [icon]="getIcon('faCircleExclamation')"
        ></fa-icon>
        <div
          class="absolute left-1/2 transform -translate-x-1/2 mt-1 hidden group-hover:block bg-gray-800 text-white text-xs rounded-md px-2 py-1 shadow-lg z-10"
        >
          <fa-icon [icon]="getIcon('faCircleExclamation')"></fa-icon>
          <span class="text-sm"
            >Budget is categorization of your income and expenses. By setting up
            your budgets, you can supervise precisely, where your money come
            from and go to.</span
          >
        </div>
      </div> -->
    </div>
    <span
      class="cursor-pointer text-sm lg-m:text-base h-5 w-10 lg-m:h-10 lg-m:w-16 flex bg-white hover:bg-gray-200 dark:bg-gray-950 dark:hover:bg-gray-800 justify-center items-center rounded-full border border-black dark:border-white"
      >MYR</span
    >
  </div>
  <div class="flex flex-row w-full justify-between items-center">
    <div
      class="flex flex-row items-center gap-2 w-2/3 px-2 py-3 rounded-md border border-gray-200 text-gray-600 dark:text-gray-200"
    >
      <fa-icon [icon]="getIcon('faCircleExclamation')"></fa-icon>
      <span class="text-sm"
        >Budget is categorization of your income and expenses. By setting up
        your budgets, you can supervise precisely, where your money come from
        and go to.</span
      >
    </div>
    <button
      class="text-xs lg-m:text-sm md:text-base rounded-3xl bg-indigo-500 text-white px-4 py-2 transition duration-500 ease-in-out hover:bg-indigo-700"
      (click)="addBudget()"
    >
      Add New Budget <fa-icon [icon]="getIcon('faPlus')"></fa-icon>
    </button>
  </div>
  <span class="mt-10">Please choose your account and month.</span>
  <div class="flex flex-row justify-start items-center gap-3">
    <div class="flex flex-col gap-1">
      <span class="text-xs text-gray-600 dark:text-gray-300">Account</span>
      <span
        class="flex flex-row gap-1 cursor-pointer text-xs lg-m:text-base h-8 w-auto px-2 flex bg-white hover:bg-gray-200 dark:bg-gray-950 dark:hover:bg-gray-800 justify-center items-center rounded-full border border-black dark:border-white"
        (click)="toggleAccDropdown()"
        #accDropdownButton
      >
        <span>{{ selectedAcc.accountname }}</span>
        <fa-icon [icon]="getIcon('faChevronDown')"></fa-icon>
      </span>
      <div
        #accDropdownOverlay
        *ngIf="accDropdown"
        class="absolute z-10 mt-14 w-40 bg-white dark:bg-gray-900 border border-gray-300 rounded-lg shadow-lg max-h-40 overflow-y-auto"
      >
        <ul>
          <li
            *ngFor="let acc of accounts"
            (click)="selectAcc(acc)"
            class="cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 flex items-center gap-2"
          >
            {{ acc.accountname }}
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-xs text-gray-600 dark:text-gray-300">Months</span>
      <span
        #monthDropdownButton
        class="flex flex-row gap-1 cursor-pointer text-xs lg-m:text-base h-8 w-32 px-2 flex bg-white hover:bg-gray-200 dark:bg-gray-950 dark:hover:bg-gray-800 justify-center items-center rounded-full border border-black dark:border-white"
        (click)="toggleMonthDropdown()"
      >
        <span>{{ selectedMonth }}</span>
        <fa-icon [icon]="getIcon('faChevronDown')"></fa-icon>
      </span>
      <div
        *ngIf="monthDropdown"
        #monthDropdownOverlay
        class="absolute z-10 mt-14 w-40 bg-white dark:bg-gray-900 border border-gray-300 rounded-lg shadow-lg max-h-40 overflow-y-auto"
      >
        <ul>
          <li
            *ngFor="let month of months"
            (click)="selectMonth(month)"
            class="cursor-pointer px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700 flex items-center gap-2"
          >
            {{ month }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="flex flex-row justify-center mt-10 gap-2">
    <div
      class="flex flex-col gap-2 border border-gray-200 dark:border-slate-700 rounded-3xl p-4 bg-white dark:bg-slate-900 w-full"
    >
      <div class="flex flex-row items-center gap-2">
        <span class="text-green-600 text-base">
          <fa-icon [icon]="getIcon('faSignIn')"></fa-icon>
        </span>
        <span class="text-lg">Incomes</span>
      </div>
      <div class="flex flex-row flex-wrap gap-1">
        <ng-container *ngFor="let item of incomebudgets">
          <span
            class="flex flex-row gap-1 cursor-pointer text-xxs lg:text-sm text-white rounded-2xl py-1 px-2 justify-start inline-flex hover:animate-bounce"
            [ngClass]="getColors(item.tag.color)"
            ><fa-icon [icon]="getIcon(item.tag.icon)"></fa-icon
            ><span class="inline-flex whitespace-nowrap">{{
              item.tag.tagname | uppercase
            }}</span></span
          >
        </ng-container>
      </div>
    </div>
    <div
      class="flex flex-col gap-2 border border-gray-200 dark:border-slate-700 rounded-3xl p-4 bg-white dark:bg-slate-900 w-full"
    >
      <div class="flex flex-row items-center gap-2">
        <span class="text-red-600 text-base">
          <fa-icon [icon]="getIcon('faSignOut')"></fa-icon>
        </span>
        <span class="text-lg">Expenses</span>
      </div>
      <div class="flex flex-row flex-wrap gap-2">
        <ng-container *ngFor="let item of expensebudgets">
          <span
            class="flex flex-row gap-1 cursor-pointer text-xxs lg:text-sm text-white rounded-2xl py-1 px-2 justify-start inline-flex hover:animate-bounce"
            [ngClass]="getColors(item.tag.color)"
            ><fa-icon [icon]="getIcon(item.tag.icon)"></fa-icon
            ><span class="inline-flex whitespace-nowrap">{{
              item.tag.tagname | uppercase
            }}</span></span
          >
        </ng-container>
        <ng-container *ngFor="let item of expensebudgets">
          <span
            class="flex flex-row gap-1 cursor-pointer text-xxs lg:text-sm text-white rounded-2xl py-1 px-2 justify-start inline-flex hover:animate-bounce"
            [ngClass]="getColors(item.tag.color)"
            ><fa-icon [icon]="getIcon(item.tag.icon)"></fa-icon
            ><span class="inline-flex whitespace-nowrap">{{
              item.tag.tagname | uppercase
            }}</span></span
          >
        </ng-container>
      </div>
    </div>
  </div> -->
  <!-- <div class="flex flex-col gap-4 px-40">
    <div class="flex flex-row gap-2">
      <div
        class="flex flex-col gap-2 justify-start h-full w-full border border-gray-200 dark:border-slate-700 rounded-md p-4 bg-white dark:bg-slate-900"
      >
        <div class="flex flex-row items-center gap-2">
          <span class="text-green-600">
            <fa-icon [icon]="getIcon('faSignIn')"></fa-icon>
          </span>
          <span>Money In</span>
        </div>
        <span class="text-3xl font-bold">
          {{ 3460 | number : "1.2-2" }}
        </span>
      </div>
      <div
        class="flex flex-col gap-2 justify-start h-full w-full border border-gray-200 dark:border-slate-700 rounded-md p-4 bg-white dark:bg-slate-900"
      >
        <div class="flex flex-row items-center gap-2">
          <span class="text-red-600">
            <fa-icon [icon]="getIcon('faSignOut')"></fa-icon>
          </span>
          <span>Money Out</span>
        </div>
        <span class="text-3xl font-bold">
          {{ 910.45 | number : "1.2-2" }}
        </span>
      </div>
    </div>
  </div> -->
  <div class="grid grid-cols-4 gap-2">
    <div class="col-span-3 grid grid-cols-4 gap-2">
      <div
        class="col-span-2 flex flex-col gap-2 border border-gray-400 dark:border-slate-700 rounded-3xl p-4 bg-white dark:bg-slate-900 w-full"
      >
        <div class="flex flex-row items-center gap-2">
          <span class="text-green-600 text-base">
            <fa-icon [icon]="getIcon('faSignIn')"></fa-icon>
          </span>
          <span class="text-base">All Incomes</span>
        </div>
        <div class="flex flex-row flex-wrap gap-1">
          <ng-container *ngFor="let item of incomebudgets">
            <app-tag [tag]="item.tag"></app-tag>
          </ng-container>
        </div>
      </div>
      <div
        class="col-span-2 flex flex-col gap-2 border border-gray-400 dark:border-slate-700 rounded-3xl p-4 bg-white dark:bg-slate-900 w-full"
      >
        <div class="flex flex-row items-center gap-2">
          <span class="text-red-600 text-base">
            <fa-icon [icon]="getIcon('faSignOut')"></fa-icon>
          </span>
          <span class="text-base">All Expenses</span>
        </div>
        <div class="flex flex-row flex-wrap gap-2">
          <ng-container *ngFor="let item of expensebudgets">
            <app-tag [tag]="item.tag"></app-tag>
          </ng-container>
        </div>
      </div>
      <div
        class="col-span-4 flex flex-row gap-2 justify-evenly border border-gray-400 dark:border-slate-700 rounded-3xl p-4 bg-white dark:bg-slate-900 w-full"
      >
        <div class="flex flex-col items-center justify-between w-full">
          <span class="text-base">Incomes Breakdown</span>
          <div class="h-64 w-auto">
            <app-doughnut [chartData]="incomeDonutChartData"></app-doughnut>
          </div>
          <div class="flex flex-row flex-wrap w-full justify-evenly gap-2 mt-4">
            <ng-container *ngFor="let item of incomeTotalWithBudget">
              <div class="flex flex-row justify-start items-center gap-1">
                <span
                  class="w-2 h-2 rounded-full"
                  [ngClass]="getColors(item.budget.tag.color)"
                ></span>
                <span class="text-sm">{{ item.budget.budgetname }}</span>
                <span class="text-sm"
                  >({{ getPercentage(item.total, allIncomeTotal) }}%)</span
                >
              </div>
            </ng-container>
          </div>
        </div>
        <div class="bg-gray-300 dark:bg-gray-600 w-px h-full"></div>
        <div class="flex flex-col items-center justify-between w-full">
          <span class="text-base">Expenses Breakdown</span>
          <div class="h-64 w-auto">
            <app-doughnut [chartData]="expenseDonutChartData"></app-doughnut>
          </div>
          <div class="flex flex-row flex-wrap w-full justify-evenly gap-2 mt-4">
            <ng-container *ngFor="let item of expenseTotalWithBudget">
              <div class="flex flex-row justify-start items-center gap-1">
                <span
                  class="w-2 h-2 rounded-full"
                  [ngClass]="getColors(item.budget.tag.color)"
                ></span>
                <span class="text-sm">{{ item.budget.budgetname }}</span>
                <span class="text-sm"
                  >({{ getPercentage(item.total, allExpenseTotal) }}%)</span
                >
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 flex flex-col gap-2">
      <div
        class="rounded-3xl py-6 px-4 bg-gradient-to-r from-indigo-500 to-pink-400 dark:bg-indigo-900 w-full"
      >
        <span class="text-sm text-white"> You spent the most on </span>
        <app-tag [tag]="expenseTotalWithBudget[3]?.budget.tag"></app-tag>
        <span class="text-sm text-white">
          this month! Make sure to stay on limit amount for the next month.
        </span>
      </div>
      <div
        class="flex flex-col gap-2 justify-between border border-gray-400 dark:border-slate-700 rounded-sm p-4 bg-white dark:bg-slate-900 w-full"
      >
        <div class="flex flex-col gap-2">
          <span class="text-sm text-center"> Incomes </span>
          <div class="flex flex-col gap-3">
            <ng-container
              *ngFor="let item of incomeTotalWithBudget; let i = index"
            >
              <div class="flex flex-row justify-between">
                <app-tag [tag]="item.budget.tag"></app-tag>
                <span class="text-sm">{{ item.total | number : "1.2-2" }}</span>
              </div>
            </ng-container>
            <div class="bg-gray-300 dark:bg-gray-600 w-full h-px"></div>
            <div class="flex flex-row justify-between">
              <span class="text-sm font-semibold">Total</span>
              <span class="text-sm font-semibold">{{
                allIncomeTotal | number : "1.2-2"
              }}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-sm text-center"> Expenses </span>
          <div class="flex flex-col gap-3">
            <ng-container
              *ngFor="let item of expenseTotalWithBudget; let i = index"
            >
              <div class="flex flex-row justify-between">
                <app-tag [tag]="item.budget.tag"></app-tag>
                <span class="text-sm">{{ item.total | number : "1.2-2" }}</span>
              </div>
            </ng-container>
            <div class="bg-gray-300 dark:bg-gray-600 w-full h-px"></div>
            <div class="flex flex-row justify-between">
              <span class="text-sm font-semibold">Total</span>
              <span class="text-sm font-semibold">{{
                allExpenseTotal | number : "1.2-2"
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-span-2 flex flex-col justify-evenly border border-gray-400 dark:border-slate-700 rounded-3xl p-4 bg-white dark:bg-slate-900 w-full"
    >
      <span class="text-base">Incomes Over Month</span>
      <div class="w-full h-64">
        <app-line [chartData]="incomeLineChartData"></app-line>
      </div>
    </div>
    <div
      class="col-span-2 flex flex-col justify-evenly border border-gray-400 dark:border-slate-700 rounded-3xl p-4 bg-white dark:bg-slate-900 w-full"
    >
      <span class="text-base">Expenses Over Month</span>
      <div class="w-full h-64">
        <app-line [chartData]="expenseLineChartData"></app-line>
      </div>
    </div>
    <div class="flex flex-row mt-10 gap-2">
      <ng-container *ngFor="let item of budgetPaging; let i = index">
        <div
          class="p-4 flex flex-row justify-center items-center gap-1 border-b"
          [ngClass]="
            activePage === i
              ? 'border-black dark:border-white'
              : 'border-white hover:border-gray-500 dark:border-gray-900 dark:hover:border-gray-500 cursor-pointer'
          "
          (click)="activePage = i"
        >
          <fa-icon [icon]="getIcon(item.icon)" class="text-xs"></fa-icon>
          <span> {{ item.label }}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="w-full min-h-96 p-4">
    <ng-container *ngIf="activePage === 0">
      <div class="grid grid-cols-5 gap-2">
        <ng-container *ngFor="let item of incomeTotalWithBudget">
          <div
            class="perspective-1000 col-span-1 flex flex-col gap-2 justify-evenly border border-gray-400 dark:border-slate-700 rounded-xl bg-white dark:bg-slate-900 transition-transform transform hover:ring-1 hover:ring-indigo-600 hover:scale-105 hover:rotate-x-45 hover:rotate-y-45 hover:shadow-lg cursor-pointer"
            (click)="goToBudget(item.budget.id)"
          >
            <div class="flex flex-row w-full justify-end p-1">
              <app-tag [tag]="item.budget.tag"></app-tag>
            </div>
            <div class="flex flex-col px-4 pb-4 gap-2 w-full items-center">
              <app-donut
                [percentage]="
                  getPercentage(item.total, item.budget.targetamount)
                "
              ></app-donut>
              <div class="flex flex-col items-start w-full">
                <span class="text-xs">Current Amount</span>
                <span class="text-lg font-semibold">{{
                  item.total | number : "1.2-2"
                }}</span>
              </div>
              <div class="flex flex-col items-start w-full">
                <span class="text-xs">Target Amount</span>
                <span class="text-lg font-semibold">{{
                  item.budget.targetamount | number : "1.2-2"
                }}</span>
              </div>
              <div class="flex flex-col items-start w-full">
                <div class="flex flex-row gap-1 items-center">
                  <span class="text-xs">Balance to Target</span>
                  <div class="relative group inline-block cursor-default">
                    <fa-icon
                      class="text-xxs text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-gray-400"
                      [icon]="getIcon('faCircleExclamation')"
                    ></fa-icon>
                    <div
                      class="absolute w-40 left-1/2 flex flex-col transform -translate-x-1/2 mt-1 hidden group-hover:block bg-gray-800 text-white rounded-md px-2 py-1 shadow-lg z-10"
                    >
                      <!-- <fa-icon
                        class="text-xxs"
                        [icon]="getIcon('faCircleExclamation')"
                      ></fa-icon> -->
                      <div class="flex flex-col">
                        <span class="text-xs">
                          + number: Doesn't reach target</span
                        >
                        <span class="text-xs"> - number: Exceeds target</span>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="text-lg font-semibold">{{
                  item.budget.targetamount - item.total | number : "1.2-2"
                }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="activePage === 1">
      <div class="grid grid-cols-5 gap-2">
        <ng-container *ngFor="let item of expenseTotalWithBudget">
          <div
            class="perspective-1000 col-span-1 flex flex-col gap-2 justify-evenly border border-gray-400 dark:border-slate-700 rounded-xl bg-white dark:bg-slate-900 transition-transform transform hover:ring-1 hover:ring-indigo-600 hover:scale-105 hover:rotate-x-45 hover:rotate-y-45 hover:shadow-lg cursor-pointer"
            (click)="goToBudget(item.budget.id)"
          >
            <div class="flex flex-row w-full justify-end p-1">
              <app-tag [tag]="item.budget.tag"></app-tag>
            </div>
            <div class="flex flex-col px-4 pb-4 gap-2 w-full items-center">
              <app-donut
                [percentage]="
                  getPercentage(item.total, item.budget.targetamount)
                "
                [isGreen]="false"
              ></app-donut>
              <div class="flex flex-col items-start w-full">
                <span class="text-xs">Current Amount</span>
                <span class="text-lg font-semibold">{{
                  item.total | number : "1.2-2"
                }}</span>
              </div>
              <div class="flex flex-col items-start w-full">
                <span class="text-xs">Target Amount</span>
                <span class="text-lg font-semibold">{{
                  item.budget.targetamount | number : "1.2-2"
                }}</span>
              </div>
              <div class="flex flex-col items-start w-full">
                <div class="flex flex-row gap-1 items-center">
                  <span class="text-xs">Remaining Amount</span>
                  <div class="relative group inline-block cursor-default">
                    <fa-icon
                      class="text-xxs text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-gray-400"
                      [icon]="getIcon('faCircleExclamation')"
                    ></fa-icon>
                    <div
                      class="absolute w-40 left-1/2 flex flex-col transform -translate-x-1/2 mt-1 hidden group-hover:block bg-gray-800 text-white rounded-md px-2 py-1 shadow-lg z-10"
                    >
                      <div class="flex flex-col">
                        <span class="text-xs">
                          + number: Doesn't reach target</span
                        >
                        <span class="text-xs"> - number: Exceeds target</span>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="text-lg font-semibold">{{
                  item.budget.targetamount - item.total | number : "1.2-2"
                }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="activePage === 2">Recurring</ng-container>
    <ng-container *ngIf="activePage === 3">Statistics</ng-container>
  </div>
</div>
