<div class="flex flex-col w-full h-full gap-8">
  <div class="flex flex-row justify-between">
    <span
      class="tracking-wider font-yeseva text-lg lg-m:text-2xl lg:text-4xl font-medium"
      >Accounts</span
    >
    <span
      class="cursor-pointer text-xs lg-m:text-base h-5 w-10 lg-m:h-10 lg-m:w-16 flex bg-white hover:bg-gray-200 dark:bg-gray-950 dark:hover:bg-gray-800 justify-center items-center rounded-full border border-black dark:border-white"
      >MYR</span
    >
  </div>
  <div class="flex flex-row w-full justify-center lg-m:justify-end">
    <button
      class="text-xs lg-m:text-sm md:text-base rounded-3xl bg-indigo-500 text-white px-4 py-2 transition duration-500 ease-in-out hover:bg-indigo-700"
      (click)="addAccount()"
    >
      Add New Account <fa-icon [icon]="faAdd"></fa-icon>
    </button>
  </div>
  <div
    class="grid grid-cols-1 lg-m:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2"
  >
    <ng-container *ngFor="let acc of accounts">
      <div
        class="col-span-1 flex flex-col justify-between p-4 gap-2 lg-m:gap-5 bg-gradient-to-b rounded-sm cursor-pointer"
        [ngClass]="getGradientClasses(acc.color1, acc.color2)"
        (click)="goToAccount(acc.id)"
      >
        <div class="flex flex-col">
          <span class="text-xs lg-m:text-sm">{{ acc.accountname }}</span>
          <span class="text-lg lg-m:text-2xl font-semibold">{{
            acc.currentbalance | number : "1.2-2"
          }}</span>
        </div>
        <span class="text-xs">{{ acc.accounttype | uppercase }}</span>
      </div>
    </ng-container>
  </div>
</div>
