<div class="flex flex-col w-full h-screen">
  <div class="flex flex-row justify-between">
    <span
      class="tracking-wider font-yeseva text-lg lg-m:text-2xl lg:text-4xl font-medium"
      >Settings</span
    >
  </div>
  <div class="h-px bg-gray-200 dark:bg-gray-600 w-full my-4"></div>
  <div class="grid grid-cols-10 h-full">
    <div class="col-span-2 flex flex-col h-full justify-start px-2 gap-1">
      <ng-container *ngFor="let item of settingsLink">
        <a
          class="flex flex-row gap-2 p-2 rounded-md text-gray-600 hover:text-black hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer"
          [routerLink]="[item.link]"
        >
          <fa-icon [icon]="getIcon(item.icon)"></fa-icon>
          <span>
            {{ item.label }}
          </span>
        </a>
      </ng-container>
    </div>
    <div class="col-span-1 h-full w-px bg-gray-200 dark:bg-gray-600 flex"></div>
    <div class="col-span-7"></div>
  </div>
</div>
